.Button{
    position: relative;
    display: flex;
    float: right;
    height: 63px;
    background-color: #ffffff;
    width: 70px;
    border: 1px solid black;
    margin-top: -70px;
   text-align: center;
    }
.button{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

}
.button:hover,
.button:active{
    background-color: transparent;
    color: green;
   font-size: 15px;
   padding-right: 3px;
}

