.listcontainer{
    position: relative;

}
.List{
    position: relative;
   word-wrap: break-word;
    padding: 10px;
    border-radius: 3px;
    width: 95%;
    border-top: 1px solid rgb(170, 170, 170);
    font-size: 18px;
    background-color: white;
    align-items: center;
    
    }
    /* .button{
        position: relative;
        right: 0;
        top: -45px;
        z-index: 1;
        float: right;
        padding: 5px;
        margin-top: 4px;
        border: 1px solid red;
        font-weight: bold;
        cursor: pointer;
        width: 50px;
        margin-right: 5px;
       
    
        
      
    }
    .ListButton{
        width: 100%;
        border: 1px solid green;
        
    }
    
    .button:focus,
    .button:active{
        background-color: red;
    }  */


